body {
    background-color: lightsteelblue;
}

#trading_card {
    background-color: white;
    width: 300px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li span {
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 300px;
}

.content_border {
    border: 1px solid rgb(180, 180, 180);
    padding: 5px;
}

.interesting {
    font-style: italic;
}